body {
    background-color: #eddcf9;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

#main_container {
   width: 1024px;
   height: 900px;
   border: solid 1px black; 
}

#Nav {
    width: 1024px;
    height: 110px;
    border: solid 1px black; 
    background-color: #cc97e8;
    margin-top: -140px;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Nav_item {
    width: 180px;
    height: 65px;
    margin: 17px;
    background-color: #eddcf9;
    border: solid 5px #b75aa1;
    border-radius: 13px;
    color: #4e2267;
    font-family: "cc-goth-chic", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    width: 480px;
    height: 457px;
    border: solid 1px black; 
    z-index: 9;
    display: flex;
    flex-direction: column;
    position: absolute;
}

#Header {
    width: 700px;
    height: 700px;
    border: solid 1px black;
    display: flex;
    justify-self: right;
    padding: 0;
} 
#Mascot {
    width: 700px;
    height: 670px;
    display: flex;
    justify-self: flex-end;
    position: absolute;
    z-index: 9;
}

#Hand {
    width: 370px;
    height: 370px;
    position: absolute;
    right: 234px;
    top: 138px;
    z-index: 11;
}

a {
    text-decoration: none;
}

a:active {
    color:#4e2267
}

/* span { 
    position:
    width:180px;
    height:65px;
    top:0;
    left: 0;
    z-index: 1;
} */

h1 {
    display: flex;
    margin: auto;
    justify-content: space-around;
}

