body {
    background-color: #eddcf9;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

#main_container {
   width: 1024px;
   height: 1000px;
   border: solid 1px black; 
}

#nav {
    width: 1024px;
    height: 110px;
    border: solid 1px black; 
    background-color: #cc97e8;
    margin-top: -140px;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Nav_item {
    width: 180px;
    height: 65px;
    margin: 17px;
    background-color: #eddcf9;
    border: solid 5px #b75aa1;
    border-radius: 13px;
    color: #4e2267;
    font-family: "cc-goth-chic", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    width: 480px;
    height: 457px;
    border: solid 1px black; 
    z-index: 9;
    display: flex;
    flex-direction: column;
    position: absolute;
}

#Header {
    width: 700px;
    height: 700px;
    border: solid 1px black;
    display: flex;
    justify-self: right;
    padding: 0;
} 
#Mascot {
    width: 700px;
    height: 670px;
    display: flex;
    justify-self: flex-end;
    position: absolute;
    z-index: 9;
}

#Hand {
    width: 370px;
    height: 370px;
    position: absolute;
    right: 234px;
    top: 138px;
    z-index: 11;
}

a {
    text-decoration: none;
}

a:active {
    color:#4e2267
}

/* span { 
    position:
    width:180px;
    height:65px;
    top:0;
    left: 0;
    z-index: 1;
} */

h1 {
    display: flex;
    margin: auto;
    justify-content: space-around;
}

#Nav-out {
    width: 1024px;
    height: 110px;
    border: solid 1px black; 
    background-color: #cc97e8;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#Page_title {
    color: #4e2267;
    font-family: "cc-goth-chic", sans-serif;
    font-weight: 300;
    font-size: 25px;
    font-style: normal;
    position: relative;
    display: flex;
    justify-content: center;
}

#conditions {
    width: 970px;
    height: 330px;
    margin: 17px;
    background-color: #cc97e8;
    border: solid 10px #b75aa1;
    border-radius: 13px;
    color: #4e2267;
    font-family: "cc-goth-chic", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    justify-content: center;
}

#text1 {
    width: 925px;
    height: 290px;
    background-color: #eddcf9;
    border-radius: 13px;
    z-index: 3;
    display: flex;
    align-self: center;
}

#h12 {
    color: #4e2267;
    font-family: "cc-goth-chic", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 1px;
}

#contact {
    width: 970px;
   height: 500px;
   border: solid 1px black; 
   display: flex;
   justify-content: space-between;
   align-self: center;
   flex-direction: row-reverse;
   margin: 17px;
}

#contactimg {
    width: 250px;
    height: 350px;
    margin: 17px;
    background-color: #cc97e8;
    border: solid 10px #b75aa1;
    border-radius: 13px;
    z-index: 4;
}

#information {
    width: 600px;
    height: 460px;
    margin: 17px;
    background-color: #cc97e8;
    border: solid 10px #b75aa1;
    border-radius: 13px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    width: 550px;
    height: 415px;
    background-color: #eddcf9;
    border-radius: 13px;
    z-index: 3;
}

 #h1 { 
    color: #4e2267;
    font-family: "cc-goth-chic", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    justify-content: center;
}

#portfolio {
   width: 970px;
   height: 600px;
   border: solid 1px black; 
   display: flex;
   align-self: center;
   margin: 17px;
   justify-content: center;
}

#container {
    width: 790px;
    height: 490px;
    margin: 17px;
    background-color: #cc97e8;
    border: solid 18px #b75aa1;
    border-radius: 50px;
    z-index: 2;
    display: flex;
    align-self: center;
    justify-content: center;
    justify-content: space-evenly;
}

#images {
    width: 465px;
    height: 380px;
    margin: 17px;
    background-color: white;
    border-radius: 25px;
    z-index: 3;
    display: flex;
    align-self: center;
}

#arrows {
    width: 90px;
    height: 120px;
    border-radius: 17px;
    background-color: #eddcf9;
    display: flex;
    align-self: flex-end;
    z-index: 4;
    align-self: center;
}