body {
    background-color: #eddcf9;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

#main_container {
   width: 1024px;
   height: 1000px;
   border: solid 1px black; 
}

#nav {
    width: 1024px;
    height: 110px;
    border: solid 1px black; 
    background-color: #cc97e8;
    margin-top: -140px;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 4;
}

.Nav_item {
    width: 170px;
    height: 58px;
    background-color: #eddcf9;
    box-shadow: 0px 0px 5px 4px rgb(151, 100, 195) inset;
    z-index: 6;
    border-radius: 13px;
}

.Nav_bg {
    width: 190px;
    height: 75px;
    margin: 17px;
    color: #4e2267;
    font-family: "cc-goth-chic", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    background-color: #993cb0df;
    border-radius: 13px;
    z-index: 5;
}

.Nav_item:hover {
    transition-property: width, height, display, align-items, justify-content;
    width: 175px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px 4px rgb(151, 100, 195) inset;
}

.Nav_bg_out {
    box-sizing: content-box;
    width: 100%;
    height: 75px;
    margin: 17px;
    color: #4e2267;
    font-family: "cc-goth-chic", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    background-color: #993cb0df;
    border-radius: 13px;
    z-index: 5;
    border: solid red 1px;
}

#Nav-out {
    width: 1024px;
    height: 110px;
    border: solid 1px black; 
    background-color: #cc97e8;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
}

.Nav_item:hover {
    transition-property: width, height;
    width: 175px;
    height: 62px;
}

#title {
    width: 480px;
    height: 457px;
    border: solid 1px black; 
    z-index: 9;
    display: flex;
    flex-direction: column;
    position: absolute;
}

#Header {
    width: 700px;
    height: 700px;
    border: solid 1px black;
    display: flex;
    justify-self: right;
    padding: 0;
    position: relative;
    border: solid red 1px;
} 
#Mascot {
    width: 700px;
    height: 670px;
    display: flex;
    justify-self: flex-end;
    position: absolute;
    z-index: 3;
}

#Hand {
    width: 370px;
    height: 370px;
    position: relative;
    left: 160px;
    top: 123px;
    transform: rotate(-2deg);
    transform: rotate(2deg);
    transform: rotate(-1.5deg);
    transform: rotate(0.5deg);
    right: -20px;
    z-index: 5;
    border: red solid 1px;
    
}

a {
    text-decoration: none;
}

a:active {
    color:#4e2267
}

/* span { 
    position:
    width:180px;
    height:65px;
    top:0;
    left: 0;
    z-index: 1;
} */

h1 {
    display: flex;
    margin: auto;
    justify-content: space-around;
    /* border: solid red 1px; */
}

#Page_title {
    color: #4e2267;
    font-family: "cc-goth-chic", sans-serif;
    font-weight: 300;
    font-size: 25px;
    font-style: normal;
    position: relative;
    display: flex;
    justify-content: center;
}

#conditions {
    width: 970px;
    height: 330px;
    margin: 17px;
    background-color: #cc97e8;
    border: solid 10px #b75aa1;
    border-radius: 13px;
    color: #4e2267;
    font-family: "cc-goth-chic", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

#commission_details {
    color: #4e2267;
    font-family: "cc-goth-chic", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: -5px;
    position: absolute;
    z-index: 4;
}

#text1 {
    width: 430px;
    height: 250px;
    background-color: #eddcf9;
    border-radius: 13px;
    z-index: 3;
    align-self: center;
    border: red 1px solid;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.text-item {
    border: red 1px solid;
    text-align: center;
}

ul {
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
}

#contact {
    width: 970px;
   height: 500px;
   border: solid 1px black; 
   display: flex;
   justify-content: space-between;
   align-self: center;
   flex-direction: row-reverse;
   margin: 17px;
}

#contactimg {
    width: 250px;
    height: 350px;
    margin: 17px;
    background-color: #cc97e8;
    border: solid 10px #b75aa1;
    border-radius: 13px;
    z-index: 4;
}

#information {
    width: 600px;
    height: 350px;
    margin: 17px;
    background-color: #cc97e8;
    border: solid 10px #b75aa1;
    border-radius: 13px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    width: 550px;
    height: 300px;
    background-color: #eddcf9;
    border-radius: 13px;
    z-index: 3;
}

 #h1 { 
    color: #4e2267;
    font-family: "cc-goth-chic", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    justify-content: center;
}

#portfolio {
   width: 800px;
   height: 600px;
   border: solid 1px black; 
   display: flex;
   margin: 17px;
   justify-self: center;
   align-content: center;
}

* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    width: 790px;
    height: 490px;
  }
  
  .images {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: none;
    background-image: url('IMGs/Website-artwork_export_0006_Full-BG.png');
    background-image: url('IMGs/Mascot.png');
  }

  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(99, 0, 126);
    font-weight: bold;
    font-size: 50px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    display: flex;
    /* onclick="button_click();" */
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }